:root {
  --font-body:
    Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: monospace;
  --color-bg: #f9f9fb;;
  --color-primary: #81304e;
  --color-secondary: #608d87;
  --color-text: #1f2937;
  --color-border: #bea57d;
  --color-link: #534376;
  --color-link-hover: #bea57d;
  --color-success: #28a745;
  --color-warning: #d36b03;
  --color-error: #7c2830;
  --color-info: #17a2b8;
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  color: var(--color-primary);
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  color: var(--color-secondary);
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

pre {
  font-size: 1rem;
  font-family: var(--font-mono);
  background-color: #fff;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1em;
  overflow-x: auto;
  color: var(--color-text);
}

.text-column {
  display: flex;
  max-width: var(--column-width);
  flex-direction: column;
  justify-content: center;
  margin: var(--column-margin-top) auto 0;
  padding: 1rem;
}

input,
button {
  padding: 0.6em 1.2em;
  border-radius: 0.5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

input:focus,
button:focus {
  outline: none;
}

button {
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
  border: 2px solid var(--color-primary);
}

button:hover {
  background-color: #912d2a;
  border-color: #912d2a;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.8rem;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
